@import url(css\typography.css);
@import url(css\common.css);

/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/********** HEADER STYLE *************/

header{
    background-color: #0084fd;
    /* DEBUG */
    /* height: 100px; */
}
.nav-bar{
    display: flex;
    justify-content: space-between ;

}
.left{
    padding: 10px ;
}
.right{
    padding: 20px;

}
li{
    display: inline-block;
    padding: 0 10px;
    color: aliceblue;
}  
/************* JUMBOTRON STYLE **************/

.jumbotron{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

.box{
    width: calc(100% / 3 - 20px);
    background-color: #b5ddff;
    margin: 20px 10px;
}
.wide{
    width: calc(100% / 3 * 2 - 20px) ;
}
.text{
    width: 50%;
    padding: 20px;
}
.img-phone{
    position: relative;
}
#phone{
    position: absolute;
    height: 268px;
    bottom: 0px;
    right: 75px;
}
/* FIRST SECTION */
.purple{
    width: 100%;
    /* debug */
    height: 800px;
    background-color: #9792e4;
}
.col-small{
    width: calc(100% / 2);
    /* debug */
    height: 200px;
}
/* SECOND SECTION */
.titles{
    margin: 130px auto;
    text-align: center;
}
h2{
    color: #9792e4;
}
.column {
    display: flex;
    flex-direction: column;
   
}
.uw-box{
    background-color: #9792e4;
    width: 100%;
    /* debug */
    height: 100px;
    margin: 20px 0;
}

/* THIRD SECTION */
.grid{
    display: flex;
    flex-wrap: wrap;
}
.square{
    background-color: aliceblue;
    width: calc(100% / 3 - 20px);
    /* debug */
    height: 300px;
    margin: 20px 10px;
}
/* FOURTH SECTION */
.last{
    display: flex;
    /* debug */
    height: 800px;
}
.col-bigger{
    width: 70%;
    /* debug */
    height: 400px
}
.col-smaller{
    width: 30%;
    padding: 0 20px ;
    /* debug */
    height: 400px;
    background-color: #b5ddff;
}
/* FOOTER */
.call-to-action{
    margin: 0 auto;
    text-align: center;
    background-color: #9792e4;
}
.footer{
    background-color:#333333 ;
    color: aliceblue;
    width: 100%;
    height: 300px;
    text-align: center;
}
.ft{
    margin: 20px auto;
    width: 26%
}
.highlight{
    text-decoration: underline;
    color: #9792e4;
}



/***************** RESPONSIVE ****************/

/*************************************************  
                MOBILE VERSION
**************************************************/

@media screen and (max-width:568px ) {


    .container{
        width: 100%;
        padding: 1.875rem;
    }
    .box{
        width: 100%;
    }
}




