body{
    font-family: 'PT Sans', sans-serif;
}
/* NAV BAR TYPO */

li{
    font-size: 18px;
}
p {
    font-size: 18px;
    font-weight: bold;
    color: #5a6e7f;
    padding-bottom: 20px;
    line-height: 2;
}
.box>p{
    padding-left:10px ;
    padding-right:10px ;
}
h3{
    font-size: 24px;
    color: #0084fd;
    padding-bottom: 30px;
    padding-top: 17px;
}
h4{
    font-size: 24px;
    font-weight: 300;

}
/* testimonial*/
h5{
    font-size: 20px;

}
h2{
     font-size: 48px;
     margin: 20px 0;
}
.description{
    color: aliceblue;
    align-self: center;
    line-height: 1.5;
    padding: 20px;
    padding-left: 30px;

}
/* GRID TITLE */
.benefits-title{
    font-size: 48px;
    color: aliceblue;
    padding-top:50px;
}
/* numbers card */
.number{
    font-size: 72px;
    color: #9792e4;
}
.s-title{
    font-size: 24px;
    color: #9792e4;
    font-weight: 700;
    padding: 20px 0;
}
/* about us */
.about-us{
    font-size:72px ;
    color: #9792e4;
}
.col-bigger>p{
    font-size: 20px;
    line-height: 2;
    padding: 30px 0;
}
/* FOOTER */
.start{
    color: #b5b1eb;
    font-size: 24px;
    padding-top: 30px;
}
.simple{
    font-size: 48px;
    color: aliceblue;
}
strong{
    font-size: 96px;
    color:#fdc15f ;
    margin: 30px 0;
}
.free-text{
    width: 30%;
    margin: 0 auto;
    
}
.free-text>p{
    color: aliceblue;
}

/*** to do ***/
/* Marketing:
titoli 24px
p: 18px bold
Strategic Planning:
titoli 34px, 24px
p: 16px, 18px
Testimonial:
titolo: 48px
sottotitolo, descrizione foto: 20px;
Benefits:
titolo: 48px
numero card: 72px;
titolo card: 24px;
About us:
titolo: 72px
p: 20px;
testo foto: 30px;
Free:
18px
48px
96px */
